@include Responsive($DESKTOP){
    .col-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-3{
        flex: 0 0 33%;
        max-width: 33%;
    }
    .header-bottom{
        background: white;
        display: flex;
        .menu{
            display: grid;
            justify-content: center;
            padding: 10px 0 13px;
            ul {
                display: flex;
                column-gap: 50px;
                list-style: none;
                align-items: center;
            }
        }
        .bag{
            display:flex;
            justify-content: end;
            padding: 10px 0 13px;
            ul {
                display: flex;
                column-gap: 10px;
                list-style: none;
                align-items: center;
            }
        }
    }
    .text{
        font-family: Lora,serif;
        padding: 15% 5%;
        h1, h2, h3,p {
            margin-bottom: 7px;
            font-size: 17px;
            font-weight: bold;
            letter-spacing: 7px;
            cursor: pointer;
          }
          
          span {
            transition: 0.5s ease-out;
            -webkit-transition: 0.5s ease-out;
            -moz-transition: 0.5s ease-out;
            -ms-transition: 0.5s ease-out;
            -o-transition: 0.5s ease-out;
}
          h1:hover span:nth-child(1) {
            margin-right: 5px;
          }
          h1:hover span:nth-child(1):after {
            content: "";
          }
          h1:hover span:nth-child(2) {
            margin-left: 30px;
          }
          h1:hover span {
            color: black;
            text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red;
          }
    }
    .body-top{
        margin: 3rem 0;
        img{
            width: 17rem;
            height: 15rem;
            border-radius: 2rem;
            object-fit: cover;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
        }
        
    }
    .container-card {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        //  background: rgb(75, 53, 118);
        //background:   map-get($theme-color,  "container-card" );
        font-family: "Roboto", sans-serif;
        gap: 20px;
      }
      .card {
        transform-style: preserve-3d;
        position: relative;
        padding: 1rem;
        width: 13rem;
        height: 30rem;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        background:  map-get($theme-color,  "header-top" );
        transition: all 0.1s ease;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .sneaker-img {
        position: relative;
        width: 10rem;
        height: 15rem;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    .purchase {
        cursor: pointer;
        width: 100%;
        border-radius: 30px;
        padding: 0.8rem 1.5rem;
        font-weight: bold;
        border: none;
        font-size: 1rem;
        letter-spacing: 1px;
        background-color: rgba(248, 177, 60, 1);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
      .purchase:hover {
        background-color: rgb(222, 157, 54);
      }
      .title,
  .card p {
    width: 11em;
    color: black;
  }
  .title{   
    font-size: 20px;
    margin: 0 auto;
  }
  .button-box {
    width: 100%;
  }
  .footer-top{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .title-footer{
        
        li:first-child{
            font-weight: bold;
            padding-bottom: 20px;
            height: 50px;
            
        }
    }
    .end-title{
        height: 150px;
    }
}
.footer-end{
    margin: 0 auto;
    padding: 20px 0px;
}
  
}
@include Responsive($MEDIUM_DEVICE){ 
    .col-md-6{
        flex:  0 0 46%;
        max-width: 60%;
        background: red;
    }
}


@include Responsive($SMALL_DEVICE){
    .col-md-6{
        flex:  0 0 100%;
        max-width: 100%;
        background: yellow;
    }
    .header_top_left{
        display: flex;
        justify-content: center;
        ul{
            align-items: center;
        }
    }
    .header_top_right{
        justify-content: center;
    }
    .header_bottom{
        display: block;
        justify-content: center;
        .menu{
            ul{
                display: block;
                justify-content: center;
            }
        }
    }
}
@include Responsive($WIDE_MOBILE){
    .col-md-6{
        flex:  0 0 80%;
        max-width: 100%;
        background: blanchedalmond;
    }
   
}
@include Responsive($TABLET_DEVICE){
    .col-md-6{
        flex:  0 0 100%;
        max-width: 45%;
    }
}
@include Responsive($PHONE_DEVICE){
    .col-3{
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 3rem ;
    }
    .col-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .header_top_left{
        ul{
            display: block;
            align-items: center;
            justify-content: center;
            padding-left: 1.5rem;
            li{
                padding-bottom: 1rem;
            }
            li:last-child{
                padding-left: 2.5rem;
            }
        }
    }
    .header_top_right{
        display: block;
        padding-left: 70px;
        ul{
            display: flex;
            li:last-child{
                display: block;
            }
        }
    }
    .header-bottom{
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img{
            width: 300px!important;
            height: 150px;
            margin: 0 auto;
            padding-left:4rem ;
        }
        .menu{
           
            ul {
                display: grid;
                align-items: center;
                justify-content: center;
                li{
                    padding: 0.5rem;
                    margin: 0 auto;
                }
                list-style: none;
               div:last-child{
                display: flex;
               }
            }
        }
        .bag{
            display:flex;
            justify-content: center;
            padding: 10px 0 13px;
            ul {
                display: flex;
                column-gap: 10px;
                list-style: none;
                align-items: center;
            }
        }
    }
    .text{
        font-family: Lora,serif;
        padding: 10rem 5%;
        h1, h2, h3,p {
            margin-bottom: 7px;
            font-size: 17px;
            font-weight: bold;
            letter-spacing: 7px;
            cursor: pointer;
          }
          
          span {
            transition: 0.5s ease-out;
            -webkit-transition: 0.5s ease-out;
            -moz-transition: 0.5s ease-out;
            -ms-transition: 0.5s ease-out;
            -o-transition: 0.5s ease-out;
}
          h1:hover span:nth-child(1) {
            margin-right: 5px;
          }
          h1:hover span:nth-child(1):after {
            content: "";
          }
          h1:hover span:nth-child(2) {
            margin-left: 30px;
          }
          h1:hover span {
            color: black;
            text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red;
          }
    }
    .body-top{
        margin: 3rem 0;
        img{
            width: 5rem;
            height: 5rem;
            border-radius: 2rem;
            object-fit: cover;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
        }
        
    }
    .container-card {
        width: 100%;
        height: 125rem;
        justify-content: center;
        //  background: rgb(75, 53, 118);
        //background:   map-get($theme-color,  "container-card" );
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        
      }
      .card {
        transform-style: preserve-3d;
        padding: 1rem;
        margin: 1rem 2rem;
        width: 15rem;
        height: 30rem;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        align-items: center;
        background:  map-get($theme-color,  "header-top" );
        transition: all 0.1s ease;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .sneaker-img {
        width: 10rem;
        height: 15rem;
        margin-left: 1rem;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        border-radius: 20px;
    }
    .purchase {
        cursor: pointer;
        margin: 1rem 0;
        height: 2.5rem;
        width: 100%;
        border-radius: 30px;
        padding: 0.8rem 1.5rem;
        font-weight: bold;
        border: none;
        font-size: 1rem;
        letter-spacing: 1px;
        background-color: rgba(248, 177, 60, 1);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
      .purchase:hover {
        background-color: rgb(222, 157, 54);
      }
        .title,
        .card p {
            width: 11em;
            color: black;
            padding-left: 1rem;
        }
        .title{   
            font-size: 20px;
            margin: 0 auto;
        }
        .button-box {
            width: 100%;
        }
        .footer-top{
            margin:  0 1rem ;
            .title-footer{
                margin:  1rem 0 ;
                li:first-child{
                    font-weight: bold;
                    padding-bottom: 20px;
                    height: 50px;
                }
            }
            .end-title{
                height: 150px;
            }
        }
        .footer-end{
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: 20px 0px;
        }
}
